@import url("https://fonts.googleapis.com/css2?family=Italiana&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Libre+Barcode+39&family=Single+Day&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$title-font: "Italiana", sans-serif;
$handwrite-font: "Patrick Hand", cursive;
$cursive-font: "Single Day", cursive;
$monospace-font: "Space Mono", monospace;
$barcode: "Libre Barcode 39", system-ui;
$serif: "Abril Fatface", serif;
$text: "Poppins", sans-serif;

$sizes: (
  1: calc(0.125rem / 2),
  2: 0.125rem,
  4: 0.25rem,
  8: 0.5rem,
  16: 1rem,
  32: 2rem,
  64: 4rem,
  128: 8rem,
  256: 16rem,
  512: 32rem,
);

@mixin defaultSettings($weight, $letter-spacing: 0, $color: #fff) {
  font-weight: $weight;
  letter-spacing: $letter-spacing;
  color: $color;
}

@mixin title-font($weight, $letter-spacing: 0, $color: #fff) {
  font-family: $title-font;
  @include defaultSettings($weight, $letter-spacing, $color);
}

@mixin handwrite-font($weight, $letter-spacing: 0, $color: #fff) {
  font-family: $handwrite-font;
  @include defaultSettings($weight, $letter-spacing, $color);
}

@mixin cursive-font($weight, $letter-spacing: 0, $color: #fff) {
  font-family: $cursive-font;
  @include defaultSettings($weight, $letter-spacing, $color);
}

@mixin monospace-font($weight, $letter-spacing: 0, $color: #fff) {
  font-family: $monospace-font;
  @include defaultSettings($weight, $letter-spacing, $color);
}

@mixin barcode($weight, $letter-spacing: 0, $color: #fff) {
  font-family: $barcode;
  @include defaultSettings($weight, $letter-spacing, $color);
}

@mixin serif($weight, $letter-spacing: 0, $color: #fff) {
  font-family: $serif;
  @include defaultSettings($weight, $letter-spacing, $color);
}

@mixin text-font($weight, $letter-spacing: 0, $color: #fff) {
  font-family: $text;
  @include defaultSettings($weight, $letter-spacing, $color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include title-font(600, 0, var(--alka-dark-100));
  margin: 0;
  line-height: 1;
}

.alka {
  &-title {
    @include title-font(600, 0, var(--alka-dark-100));
    margin: 0;
    line-height: 1;

    &-light {
      @include title-font(600, 0, var(--alka-light-100));
      margin: 0;
      line-height: 1;
    }
  }

  @each $name, $size in $sizes {
    &-font-size-#{$name} {
      font-size: $size;
    }
  }
}

@mixin textAnimation($duration: 2s) {
  animation-name: fontChange;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes fontChange {
  0% {
    font-family: $title-font;
  }
  20% {
    font-family: $handwrite-font;
  }
  40% {
    font-family: $monospace-font;
  }
  60% {
    font-family: $barcode;
  }
  80% {
    font-family: $cursive-font;
  }
  100% {
    font-family: $serif;
  }
}
