.alka {
  &-model {
    &-profile {
      width: 100%;
      height: 100vh;
      display: grid;
      grid-template-columns: 3fr 1fr;
      gap: 0;

      &-pic {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        filter: grayscale(1);
        position: relative;

        &::after {
          content: attr(alka-model-name);
          @extend .alka-font-size-128;
          @include title-font(600, 16px);
          position: absolute;
          bottom: 2rem;
          left: 2rem;
          animation-name: fontChange;
          animation-duration: 5s;
          animation-iteration-count: infinite;
        }
      }

      &-info {
        @include flexSettings(column, flex-end, flex-end);
        padding: 2rem;
        text-align: right;
        font-family: $monospace-font;

        &-basic {
          @extend .alka-font-size-16;
          font-weight: 600;
          margin-bottom: 2rem;

          span {
            font-family: $barcode;
            @extend .alka-font-size-32;
            line-height: normal;
            font-weight: 500;
          }
        }

        &-measurement {
          list-style: none;
          margin: 0;
          padding: 0;
          text-align: right;

          span {
            font-style: italic;
            display: inline-block;
            width: 4rem;
          }
        }
      }
    }
  }
}
